<h1>Hello World</h1>
<h2>Welcome to Earth</h2>
<p>This is original text</p>
<p appMyDirective> This is more text (appMyDirective)</p>
<p appMyDirectiveTwo>This is even more text (appMyDirectiveTwo)</p>
<hr>
<app-first-cmp></app-first-cmp> 
<app-first-cmp></app-first-cmp>

<app-interpolation-cmp></app-interpolation-cmp>
<app-property-cmp></app-property-cmp>
<app-event-binding></app-event-binding>
<app-twoway-cmp></app-twoway-cmp>
<app-exercise-one></app-exercise-one>
<app-directive-cmp></app-directive-cmp>
<app-pipe-component></app-pipe-component>
<app-parent-cmp1></app-parent-cmp1>

<app-assignment-parent-cmp1></app-assignment-parent-cmp1>
<app-parent-cmp2></app-parent-cmp2>
<app-emp-details-cmp></app-emp-details-cmp>
<app-emp-list></app-emp-list>
<app-template-driven-form></app-template-driven-form>
<app-reactive-form-cmp></app-reactive-form-cmp>
<router-outlet></router-outlet>