<div class="cmp-container">
    <p>abhijeet-template-driven-form works!</p>
    <p>Template driven form</p>
    <form #registrationForm="ngForm" (ngSubmit)="registerUser(registrationForm)">
        <div class="form-input">
            <label for="fname">First name: </label>
            <input type="text" name="fname" class="mandatory" ngModel #fname="ngModel" required pattern="[a-zA-Z][a-zA-Z]+" autocomplete="off">
            <span *ngIf="fname.touched && fname.errors?.required" class="tooltip-text">Please enter first name</span>
            <span *ngIf="fname.touched && fname.errors?.pattern" class="tooltip-text">Please enter valid first name (only a-z and A-Z characters allowed)</span>
        </div>

        <div class="form-input">
            <label for="lname">Last name: </label>
            <input type="text" name="lname" ngModel autocomplete="off">
        </div>

        <div class="form-input">
            <label for="email">Email: </label>
            <input type="text" name="email" class="mandatory" ngModel #frmEmail="ngModel" required pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$" autocomplete="off">
            <span *ngIf="frmEmail.touched && frmEmail.errors?.required" class="tooltip-text">Email is required</span>
            <span *ngIf="frmEmail.touched && frmEmail.errors?.pattern" class="tooltip-text">Please enter a valid email (e.g. John.Carter@email.com)</span>
        </div>

        <div class="form-input">
            <label for="phno" autocomplete="off">Ph no: </label>
            <input type="text" name="phno" class="mandatory" ngModel #phone="ngModel" required minlength="10" maxlength="14" pattern="[0-9]*">
            <span *ngIf="phone.touched && phone.errors?.required" class="tooltip-text">Phone no is mandatory</span>
            <span *ngIf="phone.touched && phone.errors?.pattern" class="tooltip-text">Phone no is invalid</span>
            <span *ngIf="phone.touched && phone?.hasError('minlength')" class="tooltip-text">Min length should be 10</span>
            <span *ngIf="phone.touched && phone?.hasError('maxlength')" class="tooltip-text">Max length should be 10</span>
        </div>

        <div class="form-input">
            <input type="submit" name="register" value="Register" [disabled]="!registrationForm.valid">
        </div>
    </form>

    {{registrationForm.value | json}}
</div>